.entrate {
  border: solid 3px green;
  height: 200px;
  width: 500px;
}
button {
  margin-top: 20px;
}
.uscite {
  border: solid 3px red;
  height: 200px;
  width: 500px;
  margin-top: 50px;
}
.resoconto {
  display: flex;
  margin-left: 300px;
  margin-top: 50px;
}
.budget {
  margin: 30px;
}
.expenses {
  margin: 30px;
}
.balance {
  margin: 30px;
}
#expense2 {
  font-size: 38px;
}
